<?xml version="1.0"?>

<!--
/**
 * @copyright ©2024 RdTest
 * @license   RdTest
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="RdTest_Cleanup" setup_version="1.0.0">
    </module>
</config>
